.banner-principal__row .banner-principal__img
  position: relative
  width: 470px
  @media screen and ( max-width: $bp-max-lg )
    width: 400px

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.banner-principal-decorativo
  &-3
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 50%
    left: -5%

  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    left: -5%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 6%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 8%





.img-a 
  display: block
  margin: auto

.img-t
  width: auto
  height: auto  
.list 
  width: 100%
  display: flex !important
  &__item 
    &__bulletNumber 
      position: relative
      width: 30px
      height: 30px
      margin-right: 1rem
      text-align: center
      border-radius: 50%
      background-color: #EA526F
      span 
        color: white
        font-weight: 700
        font-size: small
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
      
    
    &__number 
      position: relative
      margin-right: 0.5rem
      span 
        color:#EA526F
        font-size: 13pt
        font-weight: 700
        line-height: 1.2
      
    
    &__icon 
      position: relative
      width: 10px
      margin-right: 0.65rem
      margin-top: 4px
      img 
        width: 10px
        vertical-align: middle
      
    
  
  &__txt 
    p:first-child,
    h3:first-child 
      margin-top: 0px

.m-top      
  margin-top: -5px !important   


.bg-1
  background-color: $color-acento-contenido !important
  color: white !important
  text-align: center !important

.hr
  border-bottom: 1px solid #AFAFAF !important

.bg-2
  background-color: #D2D7E3
  border-radius: 15px

.bg-2_1 
  background-color:#FCE5E9

.border-bg-2
  border: 5px solid white

.kaj
  background-color: #fff
  border-radius: 12px
  height: 250px

.border-white
  border: 2px solid white  

.bg-3
  background-color: #FFF5F0
  height: 473px

.bg-35
  background-color: #FEE7DD
  height: 385px
  border-radius: 15px


.bg34
  background-color: #fff 

.bg-4
  background-color: #ECFCFC

.text-color-list
  color: $color-sistema-texto !important


.cajon.color-acento-botones
  background-color:  #D2E1F1 !important

.bg-card-1
  background-color: #FFE6DB !important
  border: 6px solid white

.bg-card-2
  background-color: #F5E6E9 !important
  border: 6px solid white

.bg-card-3
  background-color: #CDFAFB!important
  border: 6px solid white

.bg-card-4
  background-color: #DCE3F9 !important
  border: 6px solid white
  
.bg-white
  background-color: white !important

.pasos-a.color-acento-contenido .pasos-a__circle div
  color: white !important  

.bloque-texto-a.color-acento-contenido
  background-color: #F6F6F6 !important  

.bloque-texto-a.color-acento-contenido::before
  background-color: #FCE5E9 !important 

.bloque-texto-d.color-acento-contenido::before  
  background-color: #FCE5E9 !important 

.bloque-texto-d i:last-of-type 
    margin-left: 15px !important
    vertical-align: text-top !important

.bloque-texto-d i 
    font-size: 2.5em !important
    color: #ff4a69 !important

.bloque-texto-d__texto * 
    display: inline !important    

.bloque-texto-d__autor, .bloque-texto-e__autor 
    text-align: center !important
    position: relative !important    

.bloque-texto-d 
    border-top: 1px solid white !important    

.row-img-color
  background-color: #FCE5E9 !important 
  border-left: 15px solid White
  border-right: 15px solid white

.text-just
  display: flex
  align-items: center 

.tab-bold
  font-weight: 900
  color: #9F0925

.tab-bolde
  font-weight: 900
  color: #0E0103

.br-tabble
  border-right: 1px solid #AFAFAF  !important

.img-border-y  
  border-top: 7px solid white !important
  border-bottom: 1rem solid white !important  

///import css-variables from 

.cajon
  background-color: #F5E6E9



.cajon.color-acento-contenido
  background-color: #FFE8DE

.cajon.color-acento-contenido:before 
    background-color: #FF8A5B;

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number,
.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__content
  background-color: #FBE7DF !important
  border-radius: 10px;

.linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #F0F0F0 !important
  border-radius: 10px;

.fondo21
  background-color: #0CE6EA
  border-radius: 10px

.titulo-sexto.color-acento-contenido 
    border-left: 10px solid #9F0925;
    padding: 3px 0px 3px 10px;

.BorTit
    border-left: 10px solid #9F0925;
    padding: 3px 0px 3px 10px;

.bg-1 
    background-color: #FF6E33 !important;
    color:  #070504 !important;
    text-align: center !important;


.fondo-grac
  background: url('../assets/ilustraciones/rec.svg')
  background-size: 100% 90%
  background-repeat: no-repeat
  background-position: top 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.fondo-gray
  background: url('../assets/ilustraciones/rect.svg')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: top 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.fondo-gr
  background: url('../assets/ilustraciones/rect.svg')
  background-size: 100% 150%
  background-repeat: no-repeat
  background-position: center
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.titulo-segundo:after 
    content: '';
    display: block;
    height: 4px;
    width: 140px;
    border-left: solid 50px;
    border-left-color: #c00a0a;
    background-color: #e8e8e8;


.tarjeta.color-acento-conte--borde
    background-color: #CDFAFB;
    border-radius: 10px


.slyder-a__tipo-a .slyder-a__btn--atrs 
    transform: translateY(-50%) rotate(90deg);
    left: 15px;

.slyder-a__tipo-a .slyder-a__btn--sigt, .slyder-a__tipo-a .slyder-a__btn--atrs 
    position: absolute;

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    top: 90% !important;
    background-color: #1448D3;
    border: 0px;

.slyder-a__tipo-a 
    position: absolute;
    inset: 0;

.slyder-a__tipo-a .slyder-a__bullets 
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

.slyder-a__bullets 
    bottom: 25px !important;

.slyder-a__bullets 
    display: flex;
    z-index: 10000;


.fas.fa-car-side:before 
    content: "\f553"
    color: #FF6E33

.slyder-a__bullets__item--active 
    background-color: #FF6E33;
    border-color: #FF6E33;
    opacity: 1;
.cajablanca
  background-color: #ffffff
figcaption.segundo
    display: table;
    background-color: #e8e8e8;
    padding: 0.75em 1.5em;
    font-size: 0.8em;
    font-weight: 700;



.fondo4
  background-color: #DBFAFA
  border-radius: 15px





.fondo-pabg
  background: url('../assets/ilustraciones/gloo.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.bg-img-blue
  border-radius: 8px
  padding: 11px
  background-color: #1448D3

.cajontt.color-acento-contenido
  background-color: #85F2F4

.anexo 
    display: block;
    background-color: #f3f9ff;
    position: relative;
    margin-left: 16px;
    padding: 13px;
    padding-left: 50px;
    white-space: normal;
    text-align: left;
    border-radius: 10px;


.subir.my-2
    margin-top: -1.5rem !important;
    margin-bottom: .5rem !important;



.or
  color: #9F0925

.fondo-pabg4
  background: url('../assets/ilustraciones/tarre.svg')
  background-size: 100% 135%
  background-repeat: no-repeat
  background-position: top 
  margin-inline: -3.4rem
  border-radius: 20px
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem


.tarje
  background-color: #F5E6E9
  border-radius: 12px

.bg-img-blue
  border-radius: 25px
  padding: 11px
  background-color: #9B1F36

.clase2
  max-width: 60px
  left: 40px 
  position: absolute 

.bloque-texto-d i 
    font-size: 1.5em !important;
    color: #9F0925;


.bg13
  background-color: #FEE7DD

.fa-angle-left:before 
    content: "\f104";
    color:#fff

.fa-angle-right:before 
    content: "\f105";
    color:#fff

.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right 
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    flex: auto;
    border-radius: 50%;
    border: 2px solid #cccccc;
    background-color: #1448D3;
    position: relative;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;

.linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot:after 
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    background-color: #1448D3;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

.linea-tiempo-c__header__item__line-container:after, .linea-tiempo-c__header__item__line-container:before 
    content: '';
    display: block;
    width: 50%;
    height: 3px;
    background-color: #cccccc;

.linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:before, .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:after 
    background-color: #1448D3;


.linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__line-container:before 
    background-color: #1448D3;

.linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__dot 
    border-color: #1448D3;


.linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot 
    border-color: #1448D3;
    position: relative;

.rojo
  color:#9F0925 


.color 
  color: #9F0925 

.tabla-b.color-acento-contenido .tabla-b__header, .color-acento-contenido.tabla-c .tabla-b__header 
    background-color: #FF6E33;

.tabla-b.color-acento-contenido .tabla-b__header *, .color-acento-contenido.tabla-c .tabla-b__header * 
    color: #0b0b0b;


.cajoo
  background-color: #FEE7DD

.lista-ul--color.ets
  line-height: 1.2;


.lista-ul--color.et
  line-height: 1.2;

.fondo-hu
  background: url('../assets/ilustraciones/jonf.svg')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: top 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.fondo-huo
  background: url('../assets/ilustraciones/huo.svg')
  background-size: 100% 145%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.blancco
  background-color: #fff


.cajonyy
  background-color: #FEE7DD

.fondo-terce
  background: url('../assets/ilustraciones/terce.svg')
  background-size: 100% 150%
  background-repeat: no-repeat
  background-position: top 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.fondo211
  background-color: #FFE2D6 

.color-acento-botoones
  background-color: #FFE2D6

.cultu
  background: url('../assets/ilustraciones/cultu.svg')
  background-size: 100% 150%
  background-repeat: no-repeat
  background-position: top 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.lio.cajon.color-acento-contenido
  height: 448px

.bg-22
  background-color: #DBFAFA

.tab-boldoo
  font-weight: 900
  color: #0E0103

.ert
  background: url('../assets/ilustraciones/ert.svg')
  background-size: 100% 130%
  background-repeat: no-repeat
  background-position: top 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.cajaaa
  background-color: #FBF9FA

.npr
  background: url('../assets/ilustraciones/npr.svg')
  background-size: 100% 150%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem



.cajoenee 
  background-color: #DBFAFA

.cajaaaa
  background-color: #FAE6DD

.cahii
  background-color: #FFE8DE

.lista-ul--color.eto
  line-height: 1;

.cajppp
  background-color: #FEE7DD

.pon
  background: url('../assets/ilustraciones/pon.svg')
  background-size: 100% 150%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem


  
.tarjeta--gris 
    background-color: #F5E6E9
    border-radius: 15px;
    .pb-md-0 
    padding-bottom: -5rem !important;
    .mb-3 
    margin-bottom: 0.5rem !important;

.acordion.activo .acordion__activo
  background-color: #ebcbd1
  

.cerrte
  background-color: #CDFAFB
  border-radius: 12px

.nome
  background-color: #FFE8DE

.tarjeta.color-acento-botonest
  background-color: #ABF6F8

.pony
  background: url('../assets/ilustraciones/pony.svg')
  background-size: 100% 150%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem


.final
  background: url('../assets/ilustraciones/final.svg')
  background-size: 168% 180%
  background-repeat: no-repeat
  background-position: top 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.tarjeta.color-acento-botonesr
  background-color: #DEE9F0

.bloque-texto-d i.pre
    font-size: 2.0em !important;
    color: #b4132f !important;

.tarjeta.color-primate
  background-color: #FEE7DD

  
.cojo
  background-color: #FBF9FA

.bg15
  background-color: #fff
  border-radius: 10px

.img-w2
  width: 33% !important
  top: 10% !important

.tarjeta--blanc
  background-color: #D2D7E3
  height: 170px
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;

@media only screen and (max-width: 600px) 
    .texto-normal 
      font-size: 14px;


.img-w22
  width: 33% !important
  top: 15% !important

.img-infografica.color-primario .img-infografica__item__dot:before, .img-infografica.color-primario .img-infografica__item__dot:after, .img-infografica.color-primario .img-infografica-b__item__dot:before, .img-infografica.color-primario .img-infografica-b__item__dot:after, .img-infografica-b.color-primario .img-infografica__item__dot:before, .img-infografica-b.color-primario .img-infografica__item__dot:after, .img-infografica-b.color-primario .img-infografica-b__item__dot:before, .img-infografica-b.color-primario .img-infografica-b__item__dot:after 
    background-color: #d6c7c1;



.tarjeta--gris
    background-color: #F0F0F0;
    border-radius: 15px;
    padding-bottom: -5rem !important;
    margin-bottom: 0.5rem !important;

.tabs-a__tab
  background-color: $color-sistema-f
  color:#000

.medidas
  background: url('../assets/ilustraciones/medidas.svg')
  background-size: 290% 190%
  background-repeat: no-repeat
  background-position: top
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.img-infografica.color-primario .img-infografica__item__dot:before, .img-infografica.color-primario .img-infografica__item__dot:after, .img-infografica.color-primario .img-infografica-b__item__dot:before, .img-infografica.color-primario .img-infografica-b__item__dot:after, .img-infografica-b.color-primario .img-infografica__item__dot:before, .img-infografica-b.color-primario .img-infografica__item__dot:after, .img-infografica-b.color-primario .img-infografica-b__item__dot:before, .img-infografica-b.color-primario .img-infografica-b__item__dot:after 
    background-color: #F79C31;
    width: 100% 

.tab-bolddd 
    font-weight: 900;
    color: #9F0925;
    


.colortt
  font-weight: 900;
  color: #070606;

.ertt
  background-color: #F6F6F6

.ert
  background-color: #FFFFFF

.tabs-c__header 
    margin-bottom: 1px;

.tabs-c__tab 
    border-bottom: 4px solid #D2D7E3;

.coloy
  font-weight: 900;
  color: #070606;



.bg99
  background-image: url('../assets/ilustraciones/pasos.jpg');
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  border-radius: 20px;

.bg1 
  background-image: url('../assets/ilustraciones/esli.png');
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  border-radius: 20px;

.bg26
  background-color: #FFE8DE

.fa-chevron-right:before 
    content: "\f054";
    color: #1448D3

.fa-chevron-left:before 
    content: "\f053";
    color: #1448D3

.list__item__number span 
    color: #0a0a0a;
    font-size: 13pt;
    font-weight: 700;
    line-height: 1.2;

.tarjeta--gris 
    background-color: #F5E6E9;
    border-radius: 15px;
    padding-bottom: 0rem !important;
    margin-bottom: 0.3rem !important;

.acordion__accion__btn--b 
    border: 1px solid #072df1;
    color: #072df1;

.bg123
  background: url('../assets/ilustraciones/bg123.svg')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: top
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem